/*base style*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.songs-container {
    padding: 30px;
    width: 100%;
}

.songs-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.songs-top h1 {
    font-size: 25px;
}

.song-row {
    display: flex;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #f2f2f2;
}

.song-row:hover {
    cursor: pointer;
    background-color: #f2f2f2;
    border-radius: 2px;
}

.song-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    flex-basis: 100%;
}


.song-control {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-basis: 100%;
    flex-shrink: 2;
}

.song-img {
    padding: 0 5px 0 0;
}

.song-img img {
    border: 1px solid #333333;
}

.song-title {
    flex-basis: 100%;
}

.song-artist {
    flex-basis: 100%;
}

.song-label {
    flex-basis: 100%;
}

.song-released {
    flex-basis: 100%;
}

.song-btn {
    cursor: pointer;
    padding: 5px 15px;
    border-radius: 2px;
    border: 1px solid #333;
    background-color: #ffff;
    margin: 0 3px 0 3px
}

.song-btn:hover {
    outline: none;
    color: #f4f4f4;
}

.song-btn.delete:hover {
    background-color: #d45079;
    border: 1px solid #d45079;
    color: #f4f4f4;
}

.song-btn.edit:hover {
    background-color: #575C3E;
    border: 1px solid #575C3E;
    opacity: 0.8;
}

.song-add-btn {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #d45079;
    border: none;
    cursor: pointer;
}

.song-add-btn:hover {
    opacity: 0.8;
}
